@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-q9rr1n');
    src:url('fonts/icomoon.eot?#iefix-q9rr1n') format('embedded-opentype'),
    url('fonts/icomoon.woff?-q9rr1n') format('woff'),
    url('fonts/icomoon.ttf?-q9rr1n') format('truetype'),
    url('fonts/icomoon.svg?-q9rr1n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
    content: "\e601";
}
.icon-arrow-down:before {
    content: "\e600";
}
.icon-calendar:before {
    content: "\e602";
}
