.bg {
	background: url(../bg/1.jpg) center center no-repeat;
	background-size: cover;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}
ul {
	list-style: none;
	margin:0;
	padding: 0;
}
.contents{
	position: absolute;
	top:20px;
	right:20px;
	max-width:400px;
/*	margin:0 auto;
	right:0;*/
	background-color:#333;
	border-radius: 10px;
	opacity: 0.4;
	padding:10px;
	color:#eee;
}

a {
	text-decoration: none;
	color:#fff;
}
.nav li{
	display:inline;
	margin-right: 5px;
	font-size:18px;
}
.nav li a{

}
.nav li.active{
	border-bottom: 3px solid red;
}

.newslist {
	margin:20px 0 0 0 ;
	font-size: 16px;
	display: none;
}
.newslist li{
	margin: 5px 0;
}
.newslist li a{
	display: block;
	color:#999;
}
.newslist li a:hover{
	text-decoration: underline;
}