.bg {
	background: url(../bg/1.jpg) center center no-repeat;
	background-size: cover;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}
a {
	text-decoration: none;
	color:#fff;
}
a:hover{
    text-decoration: underline;
}
.menu {
    position: absolute;
    top:10px;
    right:10px;
    z-index:999;
    color:#fff;
    font-size:.8em;
}
.menu a {
    padding-left:15px;
}